* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background: #F55A5A;
    color: #FFFFFF;
    height: 55px;
    font-size: 14px;
}

.navbar img {
    height: 24px;
}

.destination {
    display: flex;
    padding: 40px 0;
    margin: 0 10%;
    border-bottom: 1px solid #F5F5F5;
    
}
.card--image {
    align-self: flex-start;
    width: 125px;
}
.heading {
    display: flex;
    font-size: 10px;
    line-height: 12px;
    
}
.heading h4 {
    text-transform: uppercase;
    letter-spacing: .17em;
    padding-left: 5px;
}
.heading a{
    color: #918E9B;
    padding-left: 12px;
    
}
.heading img {
    height: 10px;
}
.content {
    padding-left: 20px;
    margin: auto 0;
}
.content h2 {
    font-size: 25px;
    line-height: 30px;
    padding-top: 8px;
    font-weight: 700;
}

.content span, .content p { 
    font-size: 10px;
    line-height: 15px;
    padding-top: 10px;
}
.content span{
    font-weight: 700;
}